<h2>address</h2>

<%= form_for @user, url: save_user_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.fields_for :address_attributes do |fin| %>
    <div class="field">
      <%= fin.label :prefecture %><br />
      <%= fin.text_field :prefecture, autocomplete: "prefecture" %>
    </div>

    <div class="field">
      <%= fin.label :postal_code %><br />
      <%= fin.number_field :postal_code, autocomplete: "postal_code" %>
    </div>

    <div class="field">
      <%= fin.label :municipality %><br />
      <%= fin.text_field :municipality, autocomplete: "municipality" %>
    </div>

    <div class="field">
      <%= fin.label :house_number %><br />
      <%= fin.text_field :house_number, autocomplete: "house_number" %>
    </div>

    <div class="field">
      <%= fin.label :building_name %><br />
      <%= fin.text_field :building_name, autocomplete: "building_name" %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>