= render "shared/header2.html.haml"
.dsn-header
.dsn-main
  .dsn-main__no-account
    %p アカウントをお持ちでない方はこちら
    = link_to "新規会員登録", new_user_registration_path, method: :get, class: "dsn-btn dsn-btn--no-account"
  .dsn-main__login_form
    = link_to "#", class: "dsn-btn dsn-btn--facebook" do
      %i.fab.fa-facebook-square.fa-2x.dsn-icon
      facebookでログイン
    = link_to "#", class: "dsn-btn dsn-btn--google" do
      = image_tag "Google_icon.png", size: "26x26", class: "dsn-icon"
      Googleでログイン
  .dsn-main__forms
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .dsn-main__forms__group.dsn-main__forms__group--top
        = f.email_field :email, autocomplete: "email", class: "dsn-form dsn-form--top", placeholder: "メールアドレス"
      .dsn-main__forms__group
        = f.text_field :password, autocomplete: "current-password", class: "dsn-form", placeholder: "パスワード"
      = f.submit "Log in",{class: "dsn-btn dsn-btn--next"}
      = link_to "パスワードをお忘れの方", "#"
= render "shared/footer2.html.haml"
