= render 'shared/header2'

.in-main
  .in-main__container
    = form_with model: @item, url: "/items/#{@item.id}", class: "in-main__container__sell", local: true do |form|
      = render partial: "form", locals: { form: form }

= render 'shared/footer2'