.ii-wrapper
  .ii-top
    .ii-menu
      .ii-info 画像が挿入されます
      .ii-tag
        %h1.ii-tag-title 人気のカテゴリー
        .ii-tag-category
          %ul.ii-categorys
            %li.ii-category レデイース
            %li.ii-category メンズ
            %li.ii-category ベビー
      .ii-contents
        .ii-contents-nav
          .ii-contents-nav__name
            %h1.ii-contents-nav__name-title 商品一覧
            = link_to "もっとみる >"
          .ii-contents-nav__items
            .ii-contents-nav__items--list
              %ul.ii-items
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
      .ii-contents
        .ii-contents-nav
          .ii-contents-nav__name
            %h1.ii-contents-nav__name-title 商品一覧
            = link_to "もっとみる >"
          .ii-contents-nav__items
            .ii-contents-nav__items--list
              %ul.ii-items
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                %li.ii-item
                  .ii-item-link
                    = link_to "", class: "ii-link-btn" do
                      %figure.ii-link-btn
                        %figcaption
                          %span
                        .ii-item-link__img
                          %span
                
  .ii-camera
    = link_to "", class: "ii-camera-btn" do
      .ii-icon-box
        .ii-icon-box__text 出品
        = icon('fas', 'camera')