= render 'shared/header1'
%main.main
  .search-sidebar
  .search-content
    %section.ise-item
      - @items.each do |item|
        = link_to item_path(item.id), class: "ise-link" do
          .ise-item-box
            %figere.ise-item-box__image
              = image_tag item.images[0].source.url
            .ise-item-box__text
              %h.ise-item-box__text--name
                = item.name
              .ise-item-box__text--price 
                = item.price

 