.header1
  .header1-main
    .header1-main__text
      .header1-main__text__logo
        = link_to root_path, class: ‘fremalogo’ do
          = image_tag ‘fmarket_logo_red.svg’
      .header1-main__text__form
        %input.search{placeholder: “何かお探しですか？“, type: “search”, name: “keyword”}/
        %button.search-icon
          = fa_icon ‘search’, class: ‘search-button’
    .header1-main__nav
      .header1-main__nav__js
        .header1-main__nav__js__links
          %a.link(href=“#”)
            = fa_icon ‘list’, class: ‘navicon’
            カテゴリーから探す
        .header1-main__nav__js__links
          %a.link(href=“#”)
            = fa_icon ‘tag’, class: ‘navicon’
            ブランドから探す
      %ul.header1-main__nav__menu
        %li.header1-main__nav__menu__heart
          %a.mypage(href=“#”)
            = fa_icon ‘heart’, class: ‘menuicon’
            いいね！一覧
        %li.header1-main__nav__menu__bell
          %a.mypage(href=“#”)
            = fa_icon ‘bell’, class: ‘menuicon’
            お知らせ
        %li.header1-main__nav__menu__check
          %a.mypage(href=“#”)
            = fa_icon ‘check’, class: ‘menuicon’
            やることリスト
        %li.header1-main__nav__menu__user
          %a.mypage(href=“#”)
            = fa_icon ‘user’, class: ‘menuicon’
            マイページ